body {
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: Arial, sans-serif;
    padding: 5px;
    position: absolute;
  }
  
  a {
    font-size: 40px; 
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: white;
  }
  
  p {
    padding-left: 5%; 
    font-family: Verdana, sans-serif;
  }
  
  h2 {
    font-size: 40px; 
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: white;
  }
  
  .jumbotron {
    background: url("../images/stroke.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  
  .jumbotron2 {
    background-color: rgba(200, 54, 54, .5);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  } 
  
  .btn{
      background-color: rgba(0, 0, 250, 0.25);
      display: inline-block;
      border: 2px solid #fff;
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      transition: 0.3s;
      border-radius: 12px;
    }
  
  .btn:hover {
      background: rgba(200, 54, 54, .5);
      color: white;
    }
  
  a:hover { 
    color: rgba(200, 54, 54, .5); 
  }